node_modules*
target*
data*
infra/.terraform/modules/modules.json
infra/.terraform
infra/.terraform.lock.hcl
infra/terraform.tfstate.backup
infra/terraform.tfstate
python/test.csv
infra/.terraform.tfstate.lock.info
python/old/
2022-10-28.csv
2023-05-15.csv
end
start
