node_modules*
target*
infra/.terraform/modules/modules.json
infra/.terraform
infra/.terraform.lock.hcl
infra/terraform.tfstate.backup
infra/terraform.tfstate
python/test.csv
infra/.terraform.tfstate.lock.info
